<div class="col-md-12" ng-controller="DashboardCtrl">


<div gridster="gridsterOptions" class="" style="height: 475px; "><!-- ngIf: gridster.movingItem -->
        <div>
            <!-- ngRepeat: item in standardItems -->
            <div gridster-item="item" ng-repeat="item in dashboard.widgets" class="grid-item">
            	<span class="drag"></span>

            	<c3chart ng-if="item.name == 'exposure' " bindto-id="chart1_{{item.name}}">
                	<chart-size chart-width="1100px" chart-height="225"/>
					    <chart-column column-id="bar1"
                  		column-name="Bar 1"
                  		column-color="#00A6EA"
                  		column-values="{{barVals}}"
                	  	column-type="bar"/>
				    <chart-bar ratio="0.8"/>
				</c3chart>


				<c3chart ng-if="item.name == 'Rate' " bindto-id="chart1_{{item.name}}">
                	<chart-size chart-width="200" chart-height="225"/>
					  <chart-column column-id="data 1"
					          column-values="30,200,100,400,150,250"
					          column-type="spline"/>
					  <chart-column column-id="data 2"
					                column-values="50,20,10,40,15,25"
					                column-type="line"/>
				</c3chart>


				<c3chart ng-if="item.name == 'Behavior' " bindto-id="chart1_{{item.name}}">
                	<chart-size chart-width="200" chart-height="225"/>
					  <chart-column column-id="data 1"
					          column-values="30,200,100,400,150,250"
					          column-type="spline"/>
					  <chart-column column-id="data 2"
					                column-values="50,20,10,40,15,25"
					                column-type="line"/>
				</c3chart>

				<div ng-if="item.name == 'targeting' " >
					
					<div class="row">
						<div class="col-md-4">
							<radial-progress-bar></radial-progress-bar>
						</div>
						<div class="col-md-4">
							<radial-progress-bar></radial-progress-bar>
						</div>
						<div class="col-md-4">
							<radial-progress-bar></radial-progress-bar>
						</div>
					</div>

					<div class="row">
						<div class="col-md-4">
							<radial-progress-bar></radial-progress-bar>
						</div>
						<div class="col-md-4">
							<radial-progress-bar></radial-progress-bar>
						</div>
						<div class="col-md-4">
							<radial-progress-bar></radial-progress-bar>
						</div>
					</div>
					
				</div>
				
               
            </div><!-- end ngRepeat: item in standardItems -->
        </div>
    </div>


</div>
