<div class="col-md-12" ng-controller="DashboardCtrl">


<div><!-- ngIf: gridster.movingItem -->

            	<div class="row">
            		<div style="height:275px;width: 582px;" class="cell pull-left benefits">
            			<div class="header">
            				<div class="row">
            					<div class="col-md-4">
            						<h4 class="text-muted mute-text">Events</h4>
            					</div>
            					<div class="col-md-8">
            						<div class="dropdown pull-right">
									  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
									    Event Type
									    <span class="caret"></span>
									  </button>
									  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
									    <li><a href="#">Event 1</a></li>
									    <li><a href="#">Event 2</a></li>
									    <li><a href="#">Event 3</a></li>
									  </ul>
									</div>
            					</div>
            				</div>
            			</div>
            			<div class="body">
            				<c3chart bindto-id="chart3_">
            					<chart-axis-x show="false">
			            		</chart-axis-x>
			            		<chart-axis-y show="false">
			            		</chart-axis-y>
		                	<chart-size chart-width="550" chart-height="215"/>
							  <chart-column column-id="data 1"
							          column-values="30,200,100,400,150,250"
							          column-type="spline"/>
							  <chart-column column-id="data 2"
							                column-values="50,20,10,40,15,25"
							                column-type="line"/>
							</c3chart>

            			</div>
            			

            		</div>
            		<div class="cell benefits pull-right" style="height:275px;width: 582px;">
            			<div class="header">
            				<h4 class="text-muted mute-text">Benefits</h4>
            			</div>
            			<div class="body">
            				<c3chart bindto-id="chart5_">
            					<chart-axis-x show="false">
			            		</chart-axis-x>
			            		<chart-axis-y show="false">
			            		</chart-axis-y>
		                	<chart-size chart-width="550" chart-height="215"/>
							  <chart-column column-id="data 1"
							          column-values="150,22,60,320,400,250"
							          column-type="spline"/>
							  <chart-column column-id="data 2"
							                column-values="150,10,80,12,200,72"
							                column-type="line"/>
							</c3chart>

            			</div>
            		</div>
            	</div>

            	<div class="row " style="margin-top:6px;">
            		<div class="cell pull-left exposure" style="width:748px; height:275px;">
            			<div class="header">
            				<h4 class="text-muted mute-text">Exposure</h4>
            				<div class="bar-chart-meta">
									<div class="header">
										2,344
									</div>
									<div class="meta-name text-muted">
										Total exposures / hour
									</div>
								</div>
            			</div>
            			<div class="body">
            				<div class="row main-bar-chart">
	            				<c3chart bindto-id="chart1_">
				            		<chart-legend show-legend="false"/>
				            		
				            		<chart-axis-x show="false">
				            			
				            		</chart-axis-x>

				            		<chart-axis-y show="false"/>
				                	<chart-size chart-width="675" chart-height="95"/>
									    <chart-column column-id="bar1"
				                  		column-name="Bar 1"
				                  		column-color="#00A6EA"
				                  		column-values="{{barVals}}"
				                	  	column-type="bar"/>
								    <chart-bar ratio="0.8"/>
								</c3chart>
            				</div>
            				<div class="row bottom-bar-charts">
            					<div class="col-md-4">
								<c3chart bindto-id="chart1_1">
				            		<chart-legend show-legend="false"/>
				            		
				            		<chart-axis-x show="false">
				            			
				            		</chart-axis-x>

				            		<chart-axis-y show="false"/>
				                	<chart-size chart-width="125" chart-height="65"/>
									    <chart-column column-id="bar1"
				                  		column-name="Bar 1"
				                  		column-color="#00A6EA"
				                  		column-values="{{smallBarVals}}"
				                	  	column-type="bar"/>
								    <chart-bar ratio="0.6"/>
								</c3chart>


								<div class="bar-chart-meta">
									<div class="header">
										1,344
									</div>
									<div class="meta-name text-muted">
										Social
									</div>
								</div>

            					</div>
            					<div class="col-md-4">
								<c3chart bindto-id="chart1_2">
				            		<chart-legend show-legend="false"/>
				            		
				            		<chart-axis-x show="false">
				            			
				            		</chart-axis-x>

				            		<chart-axis-y show="false"/>
				                	<chart-size chart-width="125" chart-height="65"/>
									    <chart-column column-id="bar1"
				                  		column-name="Bar 1"
				                  		column-color="#00A6EA"
				                  		column-values="{{smallBarVals}}"
				                	  	column-type="bar"/>
								    <chart-bar ratio="0.6"/>
								</c3chart>


								<div class="bar-chart-meta">
									<div class="header">
										2,344
									</div>
									<div class="meta-name text-muted">
										SMS
									</div>
								</div>

            					</div>
            					<div class="col-md-4">
								<c3chart bindto-id="chart1_3">
				            		<chart-legend show-legend="false"/>
				            		
				            		<chart-axis-x show="false">
				            			
				            		</chart-axis-x>

				            		<chart-axis-y show="false"/>
				                	<chart-size chart-width="125" chart-height="65"/>
									    <chart-column column-id="bar1"
				                  		column-name="Bar 1"
				                  		column-color="#00A6EA"
				                  		column-values="{{smallBarVals}}"
				                	  	column-type="bar"/>
								    <chart-bar ratio="0.6"/>
								</c3chart>

								<div class="bar-chart-meta">
									<div class="header">
										2,344
									</div>
									<div class="meta-name text-muted">
										Email
									</div>
								</div>

            					</div>
            				</div>
            			</div>

            		</div>
            		<div class="cell targeting pull-right"  style="width:415px; height:275px;">
            			<div class="header">
            				<h4 class="text-muted mute-text">Targeting</h4>
            				<div class="cell-desc text-muted">
            					Last Decisioning: 10/01/2016 10:00
            				</div>
            			</div>
            			<div class="body"> 
            				<d3-funnel height="150" width="200"></d3-funnel>
            				
            				<div class="row funnel-footer">
            					<div class="line-seperate"></div>
            					<div class="col-md-6">
            						<div class="header">
            							3,345,3444
            							<span class="text-muted">Excluded</span>
        							</div>
            					</div>
            					<div class="col-md-6">
            						<div class="header">
            							3,345,3444
            							<span class="text-muted">Failures</span>
        							</div>
            					</div>
            				</div>
            			</div>
            			
            		</div>
            	</div>
					
				
        
    </div>


</div>
